.advertising {
  position: relative;
  min-height: 330px;
  display: grid;
  align-items: center;
  @media (max-width: @mobile) {
    height: 416px;
  }
}
.advertising__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    align-items: center;
    position: relative;
  }
  @media (max-width: @mobile) {
    max-height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: inherit;
    height: 100%;
  }
}
.advertising__list-item {
  margin-top: 70px;
  position: relative;
  @media (max-width: @mobile) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 69px;
    margin-right: 10px;
  }
}
.advertising__list-item:first-of-type {
  @media (max-width: @mobile) {
    margin-top: 36px;
  }
}
.advertising__list-item:nth-of-type(2) {
  @media (max-width: @mobile) {
    order: 3;
  }
}
.advertising__title {
  .pt-sans__bold();
  font-size: 21px;
  line-height: 26px;
  color: @basic-black;
  text-align: center;
  // position: relative;
  @media (max-width: @mobile) {
    font-size: 18px;
    margin-top: 0;
  }
}
.advertising__title--home::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -80px;
  left: 40%;
  background-image: url("/img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: @tablet) {
    top: -78px;
    left: 35%;
  }
  @media (max-width: @mobile) {
    width: 39px;
    height: 38px;
    top: -10%;
    left: -20%;
  }
}
.advertising__title--food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -74px;
  left: 40%;
  background-image: url('/img/icon-burger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: @tablet) {
    top: -74px;
    left: 35%;
  }
  @media (max-width: @mobile) {
    width: 40px;
    height: 35px;
    top: -10%;
    left: -20%;
  }
}
.advertising__title--gift::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -80px;
  left: 42%;
  background-image: url('/img/icon-gift.svg');
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: @tablet) {
    top: -80px;
    left: 37%;
  }
  @media (max-width: @mobile) {
    width: 32px;
    height: 38px;
    top: -10%;
    left: -20%;
  }
}
.advertising__description {
  .pt-sans__normal();
  font-size: 14px;
  line-height: 21px;
  color: @basic-description;
  text-align: center;
  // @media (min-width: @tablet) {
  //   max-width: 190px;
  //   margin: 14px auto;
  //   align-items: center;
  // }
  @media (max-width: @mobile) {
    text-align: inherit;
    margin: 0;
  }
}
.advertising__description br {
  @media (max-width: @tablet) {
    display: none;
  }
}
