.causes__fone {
  background-color: @blue;
}
.causes__advantages-title {
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @basic-white;
  margin-top: 47px;

}
.causes__description {
  .pt-sans__normal();
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @basic-white;
  margin-top: 26px;
  margin-bottom: 25px
}
