// текст
@basic-black: #000000;
@basic-description: #333333;
@basic-white: #FFFFFF;
// Голубые Фона
@blue: #81B3D2;
@blue-hover: #669EC0;
@blue-active: #5496BD;
// Коричневые Фона
@brown: #766357;
@brown-hover: #604E43;
@brown-active: #503E33;
// Серые Фона
@backgound-gray: #EEEEEE;

// цвета форм
@input-gray: #F2F2F2;
@input-gray-hover: #EBEBEB;
@input-minplus: #A9A9A9;
@input-minplus-active: #81B3D2;
@input-range: #ABABAB;


