.feedback-forms legend {
  .pt-sans__bold();
  text-align: center;
}
.feedback-forms fieldset {
  border: none;
  padding: 0;
  margin: 0;
  @media (max-width: @tablet) {
    margin: 20px 20px;
  }
}
.feedback-forms__forms {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
  }
  @media (min-width: @desktop) {
    width: 960px;
  }
}
.hello-form {
  @media (min-width: @tablet) {
    width: 50%;
  }
}
.hello-form__wrap {
  display: flex;
  align-items: center;
}
.hello-form__input::placeholder {
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.hello-form__label {
  .pt-sans__normal();
  font-size: 14px;
  line-height: 26px;
  color: @basic-description;
  cursor: pointer;
  margin-right: 10px;
}
.hello-form__input {
  width: 100%;
  height: 58px;
  background-color: @input-gray;
  border: 4px solid @input-gray;
  padding-left: 22px;
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.hello-form__input:hover {
  background-color: @input-gray-hover;
  border: 4px solid @input-gray-hover;
}
.hello-form__input:active {
  background-color: @basic-white;
  border: 4px solid @input-gray-hover;
}
.hello-form__input:focus {
  background-color: @basic-white;
  border: 4px solid @input-gray-hover;
}
.contact-form {
  @media (min-width: @tablet) {
    width: 100%;
  }
}
.contact-form__input::placeholder {
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.contact-form__input {
  width: 100%;
  height: 48px;
  background-color: @input-gray;
  border: 4px solid @input-gray;
  padding-left: 22px;
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.contact-form__input:hover {
  background-color: @input-gray-hover;
  border: 4px solid @input-gray-hover;
}
.contact-form__input:active {
  background-color: @basic-white;
  border: 4px solid @input-gray-hover;
}
.contact-form__input:focus {
  background-color: @basic-white;
  border: 4px solid @input-gray-hover;
}
.contact-form__icon {
  display: flex;
}
@media (min-width: @desktop) {
  .contact-form__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.contact-form__cube {
  min-width: 58px;
  height: 58px;
  background-color: @decor-gray;
}
.contact-form__label {
  .pt-sans__normal();
  font-size: 14px;
  line-height: 26px;
  color: @basic-description;
  cursor: pointer;
  margin-left: 26px;
  @media (min-width: @desktop) {
    margin-left: 0px;
    margin-right: 16px;
  }
}
.effect-form {
  @media (min-width: @tablet) {
    width: 50%;
    order: -1;
    display: flex;
    flex-direction: column;
  }
}
.effect-form__label {
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  cursor: pointer;
}
.sights-form__input {
  width: 46px;
  height: 46px;
  background-color: @input-gray;
  border: 5px solid @input-gray;
  cursor: pointer;
}
.sights-form__input:hover{
  width: 46px;
  height: 46px;
  background-color: @input-gray-hover;
  border: 5px solid @input-gray-hover;
}
.sights-form__label {
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  cursor: pointer;
}
.emotion-form {
  @media (min-width: @tablet) {
    width: 100%;
  }
}
.emotion-form__textarea::placeholder {
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  padding: 13px 23px 29px 21px;
}
.emotion-form__textarea {
  .pt-sans__bold();
  color: @basic-black;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  background-color: @input-gray;
  border: none;
  // padding: 13px 23px 29px 21px;
  padding: 0;
  width: 100%;
  height: 160px;
}
.button {
  .pt-sans__bold();
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @basic-white;
  background-color: @blue;
  // width: 458px;
  width: 100%;
  height: 58px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: @blue-hover;
}
.button:active {
  background-color: @blue-active;
}
.popup-eror__title,
.popup-send__title {
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.popup-eror__intro,
.popup-send__intro {
  .pt-sans__normal();
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @basic-description;
  max-width: 307px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.popup-eror {
  display: none;
  background-color: @basic-white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 347px;
}
.popup-eror__button {
  margin: auto 64px 49px 64px;
  max-width: 272px;
}
.popup-send {
  display: none;
  background-color: @basic-white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  min-height: 347px;
}
.popup-send__wrapper {
  background-color: @input-gray;
  height: 146px;
  position: relative;
}
.popup-send__button {
  max-width: 458px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
