.main-nav {
  height: 100%;
}
.main-nav__list {
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .main-nav__list {
    background-color: #81B3D2;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 48px;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    margin: 0 60px 0 90px;
  }
}
@media (min-width: 768px) {
  .main-nav__list .main-nav__list-item:nth-child(1) {
    margin-right: 78px;
  }
}
@media (min-width: 900px) {
  .main-nav__list .main-nav__list-item:nth-child(1) {
    margin-right: 100px;
  }
}
@media (min-width: 1000px) {
  .main-nav__list .main-nav__list-item:nth-child(1) {
    margin-right: 145px;
  }
}
@media (min-width: 1110px) {
  .main-nav__list .main-nav__list-item:nth-child(1) {
    margin-right: 162px;
  }
}
@media (min-width: 768px) {
  .main-nav__list .main-nav__list-item:nth-child(2) {
    margin-right: 210px;
  }
}
@media (min-width: 850px) {
  .main-nav__list .main-nav__list-item:nth-child(2) {
    margin-right: 250px;
  }
}
@media (min-width: 900px) {
  .main-nav__list .main-nav__list-item:nth-child(2) {
    margin-right: 300px;
  }
}
@media (min-width: 1000px) {
  .main-nav__list .main-nav__list-item:nth-child(2) {
    margin-right: 300px;
  }
}
@media (min-width: 1110px) {
  .main-nav__list .main-nav__list-item:nth-child(2) {
    margin-right: 384px;
  }
}
@media (min-width: 768px) {
  .main-nav__list .main-nav__list-item:nth-child(3) {
    margin-right: 50px;
  }
}
@media (min-width: 1000px) {
  .main-nav__list .main-nav__list-item:nth-child(3) {
    margin-right: 100px;
  }
}
@media (min-width: 1110px) {
  .main-nav__list .main-nav__list-item:nth-child(3) {
    margin-right: 138px;
  }
}
.main-nav__list-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    padding: 10px 0 6px 0;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 767px) {
  .main-nav__list-item--linear {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
.main-nav__list-item a {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 767px) {
  .main-nav__list-item a {
    color: #FFFFFF;
  }
}
.main-nav__toggle {
  display: none;
}
@media (max-width: 768px) {
  .main-nav__toggle {
    display: block;
  }
}
.main-nav__list-item a:hover {
  color: #669EC0;
}
.main-nav__list-item a:active {
  color: #766357;
}
.page-header__container {
  position: relative;
  height: 56px;
}
.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 50;
  height: 96px;
}
@media (min-width: 1200px) {
  .page-header__logo span {
    background-image: url('../img/fone-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: -1;
    width: 198px;
    height: 96px;
  }
}
.page-header__burger {
  display: block;
  position: relative;
  width: 23px;
  height: 20px;
  z-index: 60;
  cursor: pointer;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .page-header__burger {
    display: none;
  }
}
.page-header__burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
  top: 8px;
  transition: all 0.3s ease 0s;
}
.page-header__burger:before,
.page-header__burger:after {
  content: "";
  background-color: #81B3D2;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 60;
  transition: all 0.3s ease 0s;
}
.page-header__burger:before {
  top: 0;
}
.page-header__burger:after {
  bottom: 0;
}
.page-header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.page-header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.page-header__burger.active span {
  transform: scale(0);
}
@media (max-width: 767px) {
  .page-header__container {
    height: 100%;
  }
  .page-header__burger-wrap {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .page-header__logo {
    top: inherit;
  }
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: local("Ptsans"), local("PT Sans"), url('./fonts/ptsans.woff2') format("woff2"), url('./fonts/ptsans.woff') format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: local("Ptsans bold"), local("PT Sans bold"), url('./fonts/ptsansbold.woff2') format("woff2"), url('./fonts/ptsansbold.woff') format("woff");
  font-display: swap;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
}
@media (max-width: 767px) {
  .page-footer {
    height: 203px;
  }
}
.page-footer__tag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-footer__tag {
    margin-left: 47px;
  }
}
@media (max-width: 767px) {
  .page-footer__tag {
    margin-top: 40px;
    margin-bottom: 32px;
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .page-footer__tag {
    margin-left: 107px;
  }
}
@media (max-width: 767px) {
  .page-footer__social-icons {
    margin-bottom: 32px;
  }
}
.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.page-footer__list-item {
  margin-right: 6px;
}
.page-footer__list-item:last-child {
  margin-right: 0px;
}
.page-footer__cube {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
}
.page-footer__cube img {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0px, -50%);
}
.page-footer__cube:hover {
  background-color: #669EC0;
}
.page-footer__cube:active {
  background-color: #5496BD;
}
.page-footer__cube:active img {
  opacity: 0.3;
}
.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    margin-right: 120px;
  }
}
.page-footer__copyright-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
}
.page-footer__copyright a {
  height: 35px;
}
.page-footer__icon-html {
  fill: #000000;
}
.page-footer__icon-html:hover {
  fill: #81B3D2;
}
.page-footer__icon-html:active {
  fill: rgba(0, 0, 0, 0.3);
}
.welcome-content {
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  .welcome-content {
    margin-bottom: 52px;
  }
}
@media (max-width: 767px) {
  .welcome-content {
    margin-bottom: 34px;
  }
}
.welcome-content__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 31px;
}
@media (max-width: 767px) {
  .welcome-content__title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .welcome-content__title {
    width: 80%;
    margin: 0 auto 30px auto;
  }
}
.welcome-content__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .welcome-content__intro {
    width: 80%;
    margin: 0 auto;
  }
}
.welcome-content__intro-block {
  margin-bottom: 68px;
}
@media (max-width: 768px) {
  .welcome-content__intro-block {
    margin-bottom: 86px;
  }
}
@media (max-width: 767px) {
  .welcome-content__intro-block {
    margin-bottom: 34px;
  }
}
.welcome-content__intro-block--catalog {
  margin-bottom: 79px;
}
@media (max-width: 768px) {
  .welcome-content__intro-block--catalog {
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .welcome-content__intro-block--catalog {
    margin-bottom: 0px;
  }
}
.welcome-content__title-inside {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 31px;
}
@media (max-width: 767px) {
  .welcome-content__title-inside {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .welcome-content__title-inside {
    width: 80%;
    margin: 0 auto 30px auto;
  }
}
.welcome-content__intro-inside {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  max-width: 440px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .welcome-content__intro-inside {
    width: 86%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .causes {
    width: 100%;
    min-height: 256px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 256px;
  }
}
.causes__decor {
  display: none;
}
@media (max-width: 767px) {
  .causes__decor {
    display: block;
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/white-decor.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.causes__fone {
  position: relative;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .causes__fone {
    grid-column-start: 2;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .causes__fone-top {
    height: 205px;
  }
}
@media (max-width: 767px) {
  .causes__fone-bottom {
    height: 191px;
  }
}
.causes__image {
  overflow: hidden;
}
@media (min-width: 768px) {
  .causes__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
}
@media (max-width: 767px) {
  .causes__image {
    height: 260px;
  }
}
.causes__image img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .causes__image img {
    height: 260px;
  }
}
.causes__advantages-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 47px;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  .causes__advantages-title {
    margin-top: 42px;
  }
}
@media (max-width: 767px) {
  .causes__advantages-title {
    padding-top: 50px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
  }
}
.causes__advantages-title--bottom {
  margin-top: 51px;
}
@media (max-width: 768px) {
  .causes__advantages-title--bottom {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .causes__advantages-title--bottom {
    padding-top: 39px;
  }
}
@media (max-width: 767px) {
  .causes__advantages-title br {
    display: none;
  }
}
.causes__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  max-width: 288px;
  margin: 13px auto 23px auto;
}
@media (max-width: 768px) {
  .causes__description {
    max-width: 195px;
  }
}
@media (max-width: 767px) {
  .causes__description {
    max-width: 290px;
    margin: 13px auto 15px auto;
  }
}
@media (max-width: 768px) {
  .causes__description--bottom br {
    display: none;
  }
}
@media (min-width: 768px) {
  .causes-top {
    grid-template-columns: 1fr 2fr;
  }
}
.causes__fone-top {
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .causes__fone-top {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
}
@media (min-width: 768px) {
  .causes__image-top {
    grid-column-start: 2;
  }
}
.advertising {
  position: relative;
  min-height: 330px;
  display: grid;
  align-items: center;
}
@media (max-width: 767px) {
  .advertising {
    height: 371px;
  }
}
.advertising__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advertising__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    align-items: center;
    position: relative;
  }
}
@media (max-width: 767px) {
  .advertising__list {
    max-height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: inherit;
    height: 100%;
  }
}
.advertising__list-item {
  margin-top: 70px;
  position: relative;
}
@media (max-width: 767px) {
  .advertising__list-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 69px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .advertising__list-item:first-of-type {
    margin-top: 36px;
  }
}
@media (max-width: 767px) {
  .advertising__list-item:nth-of-type(2) {
    order: 3;
  }
}
.advertising__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
@media (max-width: 767px) {
  .advertising__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 17px;
  }
}
.advertising__title--home::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -80px;
  left: 40%;
  background-image: url("/img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .advertising__title--home::before {
    top: -78px;
    left: 35%;
  }
}
@media (max-width: 767px) {
  .advertising__title--home::before {
    width: 39px;
    height: 38px;
    top: -10%;
    left: auto;
    right: 104%;
  }
}
.advertising__title--food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -74px;
  left: 40%;
  background-image: url('/img/icon-burger.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .advertising__title--food::before {
    top: -74px;
    left: 35%;
  }
}
@media (max-width: 767px) {
  .advertising__title--food::before {
    width: 40px;
    height: 35px;
    top: -6%;
    left: auto;
    right: 105%;
  }
}
.advertising__title--gift::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -80px;
  left: 42%;
  background-image: url('/img/icon-gift.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .advertising__title--gift::before {
    top: -80px;
    left: 37%;
  }
}
@media (max-width: 767px) {
  .advertising__title--gift::before {
    width: 32px;
    height: 38px;
    top: -14%;
    left: auto;
    right: 105%;
  }
}
.advertising__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}
@media (max-width: 767px) {
  .advertising__description {
    text-align: inherit;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .advertising__description br {
    display: none;
  }
}
.causes-gray {
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .causes-gray {
    min-height: 256px;
  }
}
@media (max-width: 767px) {
  .causes-gray {
    min-height: 503px;
  }
}
.causes-gray__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 44px;
}
@media (max-width: 767px) {
  .causes-gray__list {
    flex-direction: column;
    padding-top: 27px;
  }
}
.causes-gray__list-item {
  list-style: none;
  width: 350px;
  margin-bottom: auto;
}
@media (max-width: 1200px) {
  .causes-gray__list-item {
    width: 240px;
  }
}
@media (max-width: 767px) {
  .causes-gray__list-item {
    margin-bottom: 28px;
    border-bottom: 1px solid #D6D6D6;
    width: 280px;
  }
}
@media (max-width: 767px) {
  .causes-gray__list-item:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.causes-gray__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .causes-gray__title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .causes-gray__title br {
    display: none;
  }
}
.causes-gray__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 22px;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .causes-gray__description {
    margin-bottom: 15px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .causes-gray__description br {
    display: none;
  }
}
@media (max-width: 767px) {
  .causes-gray__description--line {
    margin-bottom: 23px;
  }
}
.form-search {
  display: flex;
  flex-direction: column;
}
.form-search__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .form-search__title {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .form-search__title {
    margin-top: 34px;
    margin-bottom: 21px;
  }
}
.form-search__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .form-search__description {
    margin-bottom: 38px;
  }
}
@media (max-width: 767px) {
  .form-search__description {
    margin-bottom: 27px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .form-search__description br {
    display: none;
  }
}
.form-search__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #81B3D2;
  width: 458px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 66px;
}
@media (max-width: 768px) {
  .form-search__button {
    margin-bottom: 58px;
  }
}
@media (max-width: 767px) {
  .form-search__button {
    width: 280px;
    margin-bottom: 49px;
  }
}
.form-search__button:hover {
  background-color: #669EC0;
}
.form-search__button:active {
  background-color: #5496BD;
}
.footer-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.footer-map {
  height: 350px;
  background-image: url("/img/map-desktop.svg");
  background-repeat: no-repeat;
}
.feedback-forms {
  margin-bottom: 66px;
}
@media (min-width: 768px) {
  .feedback-forms {
    margin-bottom: 61px;
  }
}
@media (max-width: 767px) {
  .feedback-forms {
    margin-bottom: 78px;
  }
}
.feedback-forms legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .feedback-forms legend {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .feedback-forms legend {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .feedback-forms legend {
    font-size: 18px;
    line-height: 26px;
  }
}
.feedback-forms fieldset {
  border: none;
}
@media (max-width: 767px) {
  .feedback-forms fieldset {
    margin: 27px 20px;
  }
}
@media (min-width: 768px) {
  .feedback-forms__forms {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .feedback-forms__forms {
    width: 960px;
  }
}
.hello-form {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .hello-form {
    width: 50%;
  }
}
.hello-form__legend {
  margin-left: 78px;
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .hello-form__legend {
    margin-left: 56px;
  }
}
@media (max-width: 767px) {
  .hello-form__legend {
    font-size: 18px;
    line-height: 26px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
}
.hello-form__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hello-form__input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.hello-form__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.hello-form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 80px;
}
@media (min-width: 768px) {
  .hello-form__label {
    margin-left: 62px;
  }
}
@media (max-width: 767px) {
  .hello-form__label {
    margin-left: 0;
  }
}
.hello-form__input {
  width: 100%;
  height: 48px;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  padding-left: 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.hello-form__input:hover {
  background-color: #E5E5E5;
  border: 4px solid #E5E5E5;
}
.hello-form__input:active {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.hello-form__input:focus {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.contact-form {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .contact-form {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
  }
}
.contact-form__legend {
  text-align: center;
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .contact-form__legend {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .contact-form__legend {
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .contact-form__label {
    margin-bottom: 8px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .contact-form__label--tablet {
    display: none;
  }
}
@media (max-width: 1200px) {
  .contact-form__label--desktop {
    display: none;
  }
}
.contact-form__input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.contact-form__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
.contact-form__input {
  width: 225px;
  height: 48px;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  padding-left: 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .contact-form__input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
  }
}
.contact-form__input:hover {
  background-color: #E5E5E5;
  border: 4px solid #E5E5E5;
}
.contact-form__input:active {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.contact-form__input:focus {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.contact-form__icon {
  display: flex;
}
@media (max-width: 767px) {
  .contact-form__icon {
    margin-top: 8px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .contact-form__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .contact-form__wrapper {
    margin-bottom: 23px;
  }
}
.contact-form__cube {
  min-width: 58px;
  height: 58px;
  background-color: #E6E6E6;
  position: relative;
}
.contact-form__cube img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  cursor: pointer;
  margin-left: 26px;
}
@media (min-width: 1200px) {
  .contact-form__label {
    margin-left: 0px;
    margin-right: 16px;
  }
}
.effect-form {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .effect-form {
    width: 50%;
    order: -1;
    display: flex;
    flex-direction: column;
  }
}
.effect-form__legend {
  margin-left: 78px;
  margin-bottom: 54px;
}
@media (min-width: 768px) {
  .effect-form__legend {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .effect-form__legend {
    margin-left: 0;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 20px;
  }
}
.effect-form__wrap {
  position: relative;
  margin-bottom: 31px;
}
@media (max-width: 767px) {
  .effect-form__wrap {
    margin-bottom: 20px;
    display: flex;
  }
}
.effect-form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  cursor: pointer;
  margin-left: 80px;
  display: block;
  margin-top: 20px;
}
.effect-form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #F2F2F2;
  border: 5px solid #F2F2F2;
  border-radius: 50%;
}
.effect-form__label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 18px;
  height: 18px;
  background-color: #333333;
  border: 3px solid #333333;
  border-radius: 50%;
  opacity: 0;
}
.effect-form__input:checked + .effect-form__label::after {
  opacity: 1;
}
.sights-form {
  height: 157px;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .sights-form {
    height: auto;
    min-width: 500px;
    margin: 0 auto;
    margin-bottom: 41px;
  }
}
@media (max-width: 767px) {
  .sights-form {
    height: auto;
  }
}
.sights-form__legend {
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .sights-form__legend {
    padding-top: 13px;
    margin-bottom: 20px;
  }
}
.sights-form__input:hover {
  width: 46px;
  height: 46px;
  background-color: #E5E5E5;
  border: 5px solid #E5E5E5;
}
.sights-form__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 960px;
}
@media (max-width: 1200px) {
  .sights-form__wrapper {
    width: 100%;
    max-width: 458px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .sights-form__wrapper {
    margin: 0;
    width: 50%;
  }
}
.sights-form__wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
@media (max-width: 1200px) {
  .sights-form__wrap {
    min-width: 43%;
  }
}
@media (max-width: 768px) {
  .sights-form__wrap {
    margin-bottom: 45px;
    min-width: 43%;
  }
}
@media (max-width: 767px) {
  .sights-form__wrap {
    margin-bottom: 40px;
  }
}
.sights-form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  cursor: pointer;
  margin-left: 70px;
  margin-top: 14px;
}
@media (max-width: 767px) {
  .sights-form__label {
    margin-left: 78px;
  }
}
.sights-form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border: 5px solid #F2F2F2;
  cursor: pointer;
}
.sights-form__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 25px;
  transform: translate(-50%, 0);
  z-index: 2;
  display: block;
  width: 46px;
  height: 46px;
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.sights-form__input:checked + .sights-form__label::after {
  opacity: 1;
}
.emotion-form {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .emotion-form {
    width: 100%;
  }
}
.emotion-form__legend {
  text-align: center;
  margin-bottom: 54px;
}
@media (max-width: 767px) {
  .emotion-form__legend {
    margin-bottom: 9px;
  }
}
.emotion-form__textarea::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  padding: 13px 23px 29px 21px;
}
.emotion-form__textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  padding: 13px 23px 29px 21px;
}
.emotion-form__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  background-color: #F2F2F2;
  border: none;
  resize: none;
  padding: 0;
  width: 100%;
  height: 160px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .emotion-form__textarea {
    margin-bottom: 16px;
  }
}
.button-form-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.button-form-wrap p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  display: block;
}
@media (max-width: 767px) {
  .button-form-wrap p {
    display: none;
  }
}
.feedback-forms_button {
  width: 458px;
}
@media (min-width: 768px) {
  .feedback-forms_button {
    width: 324px;
  }
}
@media (max-width: 767px) {
  .feedback-forms_button {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #81B3D2;
  height: 58px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669EC0;
}
.button:active {
  background-color: #5496BD;
}
.popup-eror__title,
.popup-send__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.popup-eror__intro,
.popup-send__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 307px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.popup-eror {
  display: none;
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 347px;
  z-index: 5;
}
.popup-eror__button {
  margin: auto 64px 49px 64px;
  width: 272px;
}
.popup-send {
  display: none;
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  min-height: 347px;
  z-index: 5;
}
.popup-send__wrapper {
  background-color: #F2F2F2;
  height: 146px;
  position: relative;
}
.popup-send__button {
  width: 458px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery {
  margin-bottom: 63px;
}
@media (max-width: 768px) {
  .gallery {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .gallery {
    margin-bottom: 11px;
  }
}
.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .gallery__list {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .gallery__list {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .gallery__list {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 51px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .gallery__list::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -100%;
    right: -100%;
    height: 1px;
    background-color: #E5E5E5;
    z-index: 5;
  }
}
@media (max-width: 767px) {
  .gallery__list::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: -100%;
    right: -100%;
    height: 1px;
    background-color: #E5E5E5;
    z-index: 5;
  }
}
@media (min-width: 768px) {
  .gallery__item {
    width: 50%;
    position: relative;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    width: 33.33333%;
  }
}
@media (max-width: 768px) {
  .gallery__item {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .gallery__item {
    margin-bottom: 135px;
    position: relative;
    width: 280px;
    height: 280px;
  }
}
@media (min-width: 768px) {
  .gallery__item:first-child {
    width: 100%;
  }
}
.gallery__item--first {
  height: 400px;
}
@media (max-width: 767px) {
  .gallery__item--first {
    min-width: 280px;
    height: 280px;
  }
}
.gallery__item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .gallery__item::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -100%;
    right: -100%;
    height: 1px;
    background-color: #E5E5E5;
  }
}
.gallery__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__title {
    color: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    color: #000000;
  }
}
.gallery__autor {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #333333;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__autor {
    color: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .gallery__autor {
    color: #333333;
  }
}
.gallery__amount {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__amount {
    color: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .gallery__amount {
    color: #000000;
  }
}
.gallery__like-icon {
  margin-right: 14px;
}
.gallery__like-icon path {
  fill: #FFFFFF;
}
@media (max-width: 768px) {
  .gallery__like-icon path {
    fill: #000000;
  }
}
.gallery__like {
  display: flex;
  align-items: baseline;
}
@media (min-width: 768px) {
  .gallery__like {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .gallery__like {
    position: relative;
    bottom: -9px;
  }
}
.gallery__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__text {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .gallery__text {
    bottom: -80px;
    background-color: #F2F2F2;
  }
}
@media (max-width: 767px) {
  .gallery__text {
    bottom: -88px;
    background-color: transparent;
  }
}
.gallery__item-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.3;
  height: 80px;
}
@media (max-width: 768px) {
  .gallery__item-decor {
    display: none;
  }
}
@media (min-width: 768px) {
  .gallery__text-wrap {
    margin-left: 20px;
  }
}
.video_block {
  margin: 0 auto;
  margin-bottom: 85px;
}
@media (min-width: 768px) {
  .video_block {
    margin: 0 auto;
    max-width: 648px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video_block {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .video_block {
    margin-bottom: 121px;
  }
}
.video_block__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .video_block__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 28px;
  }
}
.video_block__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 445px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .video_block__intro {
    width: 80%;
  }
}
.video_block__player {
  margin-top: 79px;
  position: relative;
  max-width: 800px;
  max-height: 500px;
}
@media (max-width: 768px) {
  .video_block__player {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .video_block__player {
    min-height: 201px;
    margin-top: 33px;
  }
}
.video_block__player img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .video_block__player img {
    height: auto;
  }
}
.video_block__decor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 93px;
  width: 100%;
  background-color: #000000;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .video_block__decor {
    height: 45px;
    max-width: 280px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 767px) {
  .video_block__decor {
    transform: translate(-50%, -50%);
  }
}
.controls__range {
  position: relative;
  bottom: 61px;
  left: 45%;
  width: 540px;
  height: 3px;
  margin: 0;
  transform: translate(-50%, 0);
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: -1px;
}
@media (max-width: 1200px) {
  .controls__range {
    width: 389px;
  }
}
@media (max-width: 767px) {
  .controls__range {
    bottom: 35px;
    max-width: 235px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
}
.controls {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .controls {
    bottom: -42px;
  }
}
.controls__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 42px;
}
@media (max-width: 767px) {
  .controls__wrapper {
    fill: #5C6870;
  }
}
.controls__icon {
  fill: #FFFFFF;
}
@media (max-width: 767px) {
  .controls__icon {
    fill: #5C6870;
  }
}
.controls__icon--last {
  margin-left: 28px;
}
@media (max-width: 767px) {
  .controls__wrapper--gray {
    background-color: #F2F2F2;
    margin: 0 20px;
    height: 66px;
  }
}
@media (max-width: 767px) {
  .controls__wrapper--remote {
    margin-left: 24px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .controls__wrapper--fullscreen {
    margin-right: 24px;
    margin-top: 10px;
  }
}
.main-banner {
  background-color: #81B3D2;
  position: relative;
  height: 518px;
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  .main-banner {
    height: 389px;
  }
}
@media (max-width: 768px) {
  .main-banner {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .main-banner {
    margin-bottom: 32px;
  }
}
.main-banner__banner {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-banner__welcome {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translate(-50%, 0px);
}
@media (max-width: 767px) {
  .main-banner__welcome {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 282px;
  }
}
.main-banner__decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-banner__intro {
  background-color: #81B3D2;
  position: relative;
  height: 301px;
  margin-bottom: 114px;
}
@media (max-width: 767px) {
}
@media (max-width: 768px) {
  .main-banner__intro {
    margin-bottom: 65px;
    height: 290px;
  }
}
@media (max-width: 767px) {
  .main-banner__intro {
    margin-bottom: 37px;
    height: 157px;
  }
}
.main-banner__intro--catalog {
  margin-bottom: 103px;
}
@media (max-width: 768px) {
  .main-banner__intro--catalog {
    margin-bottom: 65px;
  }
}
@media (max-width: 767px) {
  .main-banner__intro--catalog {
    margin-bottom: 33px;
  }
}
.main-banner__banner-intro {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (max-width: 768px) {
  .main-banner__banner-intro {
    -o-object-fit: none;
       object-fit: none;
  }
}
.main-banner__welcome-intro {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0px);
}
@media (max-width: 768px) {
  .main-banner__welcome-intro {
    top: 95px;
  }
}
@media (max-width: 767px) {
  .main-banner__welcome-intro {
    top: 50px;
    width: 229px;
  }
}
body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #FFFFFF;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.page {
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
